img {
  max-width:60%;
} 
body {
  background-color: grey;
  overflow-y: hidden;
  overflow-x: hidden;
}
.generalContainer {
  display: flex;
  background-color: grey;
  width: 100vw;
  max-height: 40000px;
}
.leftContainerMenuBox {
  background-color: rgb(243, 243, 243);
  width: 19vw;
  height: 45vw;
  position: fixed;
  margin-top: 1vw;
  margin-left: 1vw;
  text-align: center;
  font-size: 1vw; 
}
.tituloBox  {
  background-color: rgb(243, 243, 243);  
  height: 10vw;
  width: 75vw;
  position: fixed;
  margin-top: 1vw;
  margin-left: 22vw;   
  text-align: center;
}
.firstBox {
  background-color: rgb(243, 243, 243);
  position: relative;
  height: 33vw;
  width: 75vw;
  margin-left: 22vw;    
  scroll-margin-block-start: 258px;
  text-indent: 4%;
  font-size: 1vw;
  margin-top: 13vw;
}
.genericBox {
  background-color: rgb(243, 243, 243);
  position: relative;
  height: 33vw;
  width: 75vw;
  margin-top: 15vw;
  margin-left: 22vw;    
  scroll-margin-block-start: 258px;
  text-indent: 4%;
  font-size: 1vw;
}
.lastBox {
  background-color: rgb(243, 243, 243);
  position: relative;
  height: 33vw;
  width: 75vw;
  margin-top: 15vw;
  margin-left: 22vw;    
  scroll-margin-block-start: 258px;
  text-indent: 4%;
  font-size: 1vw;
  margin-bottom: 3vw;
}