img {
  max-width:60%;
} 
body {
  background-color: grey;
  overflow-y: hidden;
  overflow-x: hidden;
}
.generalContainer {
  position: absolute;
  left:0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background-color: grey;
}
.leftContainerMenuBox {
  background-color: rgb(243, 243, 243);
  width: 25%;
  position: fixed;
  top: 3%;
  left: 2%;
  bottom: 3%;  
  text-align: center;
  font-size: 80%; 
}
.tituloBox  {
  background-color: rgb(243, 243, 243);  
  height: 27%;
  position: fixed;
  top: 3%;
  left: 29%;  
  right: 2%; 
  text-align: center;
}
.genericBox {
  background-color: rgb(243, 243, 243);
  position: relative;
  height: 63%;
  left: 29%; 
  width: 69%;
  margin-top: 21%;
  scroll-margin-block: 20.5vw;
}

/*.leftContainerMenuBox {
  background-color: rgb(243, 243, 243);
  width: 19vw;
  height: 45vw;
  position: fixed;
  margin-top: 1vw;
  margin-left: 1vw;
  text-align: center;
  font-size: 1vw; 
}
.tituloBox  {
  background-color: rgb(243, 243, 243);  
  height: 10vw;
  width: 75vw;
  position: fixed;
  margin-top: 1vw;
  margin-left: 22vw;   
  text-align: center;
}
.firstBox {
  background-color: rgb(243, 243, 243);
  position: relative;
  height: 33vw;
  width: 75vw;
  margin-left: 22vw;    
  scroll-margin-block-start: 258px;
  text-indent: 4%;
  font-size: 1vw;
  margin-top: 13vw;
}
.genericBox {
  background-color: rgb(243, 243, 243);
  position: relative;
  height: 33vw;
  width: 75vw;
  margin-top: 15vw;
  margin-left: 22vw;    
  scroll-margin-block-start: 258px;
  text-indent: 4%;
  font-size: 1vw;
}
.lastBox {
  background-color: rgb(243, 243, 243);
  position: relative;
  height: 33vw;
  width: 75vw;
  margin-top: 15vw;
  margin-left: 22vw;    
  scroll-margin-block-start: 258px;
  text-indent: 4%;
  font-size: 1vw;
  margin-bottom: 3vw;
}*/