body {
  background-color: grey;
}

.flex-container {
    display: flex;
    background-color: grey;
    max-width: 100%;
    max-height: 40000px;
    align-items:flex-start;
  }


.flexMenu-1 {
    background-color: white;
    width: 20%;
    height: 58vw;   
    position: fixed;
    margin-top: 10px;
    margin-left: 10px;
    text-align: center;
    align-content:space-between;

  }
.flexTitulo-3  {
    background-color: rgba(92, 26, 224, 0.87);    
    height: 100px;
    width: 73vw;
    position: fixed;
    margin-top: 10px;
    margin-left: 230px;   
    text-indent: 150px;
     font-size: 15px;    
  }
.flexDescripcionPersonal-4 {
    background-color: rgb(34, 228, 186);
    height: 47vw;
    width: 73vw; 
    margin-top: 12vw;
    margin-left: 230px;   
    scroll-margin-block-start: 130px;

  
  }
.flexEducation-5 {
  background-color: rgb(34, 228, 186);
  height: 47vw;
  width: 73vw; 
  margin-top: 140px;
  margin-left: 230px;   
  scroll-margin-block-start: 130px;
  }
.flexExperienciasLaborales-6 {
  background-color: rgb(34, 228, 186);
  height: 47vw;
  width: 73vw; 
  margin-top: 140px;
  margin-left: 230px;   
  scroll-margin-block-start: 130px;
  }
.flexSkills-7 {
  background-color: rgb(34, 228, 186);
  height: 47vw;
  width: 73vw; 
  margin-top: 140px;
  margin-left: 230px;   
  scroll-margin-block-start: 130px;
  }
.flexHobbies-8 {
  background-color: rgb(34, 228, 186);
  height: 47vw;
  width: 73vw; 
  margin-top: 140px;
  margin-left: 230px;   
  scroll-margin-block-start: 130px;
 
  }
.flexExpectativas-9 {
  background-color: rgb(34, 228, 186);
  height: 47vw;
  width: 73vw; 
  margin-top: 140px;
  margin-left: 230px;   
  scroll-margin-block-start: 130px;

  }